/* Buttons */
.btn {
  background-color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 30px;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

/* To Top Button */
.btn-top {
  @extend .btn;
  background: #003458;
  border: 0.5px solid #004577;
  bottom: 10px;
  height: 45px;
  padding: 0 1.2em;
  position: fixed;
  right: 10px;
  width: 45px;

  &:hover polyline {
    stroke-width: 15;
  }

  .arrow {
    height: 18px;
    left: 50%;
    margin-left: -9px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 18px;
  }
}
