/* Buttons */
.btn {
  background-color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 30px;
}

.btn i {
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.9;
}

/* To Top Button */
.btn-top {
  background: #004575;
  border: 1px solid #3b2551;
  border-radius: 2px;
  bottom: 1.2em;
  display: block;
  font-weight: bold;
  height: 48px;
  line-height: 44px;
  margin: 0;
  padding: 0 1.2em;
  position: fixed;
  right: 1.2em;
  text-transform: capitalize;
  width: 48px;
}

.arrow {
  cursor: pointer;
  height: 18px;
  left: 50%;
  margin-left: -9px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 18px;
}

.up:hover polyline,
.up:focus polyline {
  stroke-width: 15;
}

.up:active polyline {
  stroke-width: 15;
  transition: all 100ms ease-in-out;
}
