.icon-link {
  font-size: $font-XL;
}

/* Social media icons */
.social i {
  color: $color-light;
  margin: 5px;
}

/* Language icons */
$icon-colors:
"react" $react-blue,
"angular" $angular-red,
"vue" $vue-green,
"node" $node-green,
"php" $php-purple,
"python" $python-yellow;

@each $name, $color in $icon-colors {
	.#{$name} i {
		color: $color;
	}
}

#back-end {
  i {
    padding: 1rem;
    border-radius: 50%;
  }
  .icon-link {
    font-size: $font-L;
  }
}
