/* Icons */
#languages i {
  background-color: rgb(18, 29, 35);
  color: #fff;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 3rem;
}

footer a i {
 color: #fff;
 margin: 0 5px;
}

i {
  color: rgb(18, 29, 35);
}

.icon-link {
  font-size: 2rem;
}

.icon-link:hover {
  opacity: 0.75;
}
