.icon-link {
  font-size: $font-XL;
}

/* Social media icons */
.social i {
  color: $color-light;
  margin: 5px;
}

/* Language icons */
.react i {
  color: $react-blue;
}

.angular i {
  color: $angular-red;
}

.vue i {
  color: $vue-green;
}

.node i {
  color: $node-green;
}

.php i {
  color: $php-purple;
}

.python i {
  color: $python-blue;
}

#back-end {
  i {
    padding: 1rem;
    border-radius: 50%;
  }
  .icon-link {
    font-size: $font-L;
  }
}
