.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s ease-in;

  @include maxWidth(900px) {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  @include maxWidth(812px) {
    flex-direction: row;
    height: 70px;
  }

  /* Logo */
  .logo {
    font-weight: 200;
    font-family: $font-logo;
    font-size: 3.2rem;

    .logo-font_small {
      font-size: 2.6rem;
    }
  }

  /* Menu */
  .main-menu {
    @include maxWidth(812px) {
      text-align: right;
      z-index: 100;
      width: 100%;
    }

    ul {
      display: flex;

      @include minWidth(813px) {
        display: flex !important;
      }

      @include maxWidth(812px) {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        z-index: 100;
        margin-top: 50px;
        background-color: transparent;
      }

      .menu-link {
        color: $color-light;
        font-size: $font-M;
        padding: 10px 20px;
        margin: 0 5px;
        text-decoration: none;

        &:hover {
          color: darken($color-light, 30%) !important;
          border-bottom: $color-light 1px solid;
        }

        &:visited {
          color: $color-light;
        }
      }

      li {
        @include maxWidth(812px) {
          background-color: rgba(0, 0, 0, 0.3);
          display: block;
          line-height: 3.8rem;
        }
      }
    }
  }

  #main-menu-toggle {
    display: none;

    @include maxWidth(812px) {
      display: block;
      position: absolute;
      right: 10px;
      top: 17px;
    }
  }
}

/* Hides header on scroll down */
@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -125px;
  }
}

.nav-up {
  animation-duration: 1s;
  animation-name: slide-up;
  top: -150px;
}
