.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s ease-in;

  @include maxWidth(900px) {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  @include maxWidth(812px) {
    flex-direction: row;
    height: 70px;
  }

  /* Logo */
  .logo {
    font-weight: 200;
    font-family: $font-logo;
    font-size: 3.2rem;

    .logo-font_small {
      font-size: 2.6rem;
    }
  }
}
