/* Icons */
.icons {
  padding: 30px;
}

.icons i {
  background-color: rgb(18, 29, 35);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

i {
  color: rgb(18, 29, 35);
}

i:hover {
  opacity: 0.75;
}
